.rotate-shuo {
  animation: bounce 1s infinite linear;
}

@keyframes bounce {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.8, 0.4, 1);
	}

	40% {
		transform: scale3d(0.4, 1.8, 1);
	}

	50% {
		transform: scale3d(1.8, 0.4, 1);
	}

	60% {
		transform: scale3d(0.4, 1.8, 1);
	}

	70% {
		transform: scale3d(1.8, 0.4, 1);
	}

  80% {
		transform: scale3d(0.4, 1.8, 1);
  }

  90% {
		transform: scale3d(1.8, 0.4, 1);
  }

	100% {
		transform: scale3d(1, 1, 1);
	}
}
.article {
  max-width:1000px;
}

.article p{
  font-size:16px;
  line-height: 1.8;
}

.article h4 {
  color:#1293DC;
}
